[Unit]
Description=Schedule my unattended-upgrades

[Timer]
# Example: every day at 03:00
OnCalendar=03:00
#OnCalendar=Wed 16:10

#[Timer]  
#OnBootSec=5min  
#Persistent=true  
#AccuracySec=1min

# If machine was off at 03:00, run once at next boot
Persistent=true

AccuracySec=1min

[Install]
WantedBy=timers.target