[server]
hostname = proxmox

[power]
action = reboot
delay_before_action = 10
dry_run = true
continue_on_mqtt_fail = false
continue_on_mail_fail = false

[mqtt]
host = 10.0.0.10
port = 1883
username =
password =
password_env =
topic = homeassistant/{safe_hostname}/power
#message = {"event":"{event}","host":"{hostname}","source":"unattended-upgrades"}
message = auto
client_id = auto
qos = 1
retain = false
connect_timeout = 10
publish_timeout = 10


[mail]
on_success = true
on_failure = true
backend = sendmail
to = receiver@example.com
from = root@proxmox.local
success_subject = {hostname}: {action} MQTT sent successfully
failure_subject = {hostname}: {action} MQTT or power action failed
extra_body = Sent from local sendmail/Postfix.


[sendmail]
path =
